{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% include 'alerts.html' %}
    <form action="{% url 'track' %}" method="post">
        {% csrf_token %}
        <div class="input-group input-group-lg mb-3 mt-4">
            <input placeholder="Enter your order id" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-lg" name="order_id">
            <div class="input-group-prepend">
                <button type="submit" class="input-group-text" id="inputGroup-sizing-default">Track order</button>
            </div>
        </div>
    </form>
</div>

<script>
</script>
{% endblock %}